# Archivos de caché
*.log

# Ccarpeta de archivos temporales
temp/

# Archivos de configuración específicos
*config.ini

# Cache
*_psycache_

# Configuracion de las variables de entorno
*.env

# Checkpoints del desarrollo del notebook 
*.ipynb_checkpoints

# Cache especifico de carpetas individuales
__pycache__/



